* {
    box-sizing:border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */
a{
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

.fill-button {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border:none;
    width: 140px;
    height: 48px;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight: 700;
    color:white;
    background-color: #2941ca;
    transition: opacity 1000ms ease-in-out;
}

.fill-button.inverted {
    color: #306bc4;
    background-color: #fff;
}


/* Landing */

.landing {
    background-color: #79abfa;
    text-align: center;
}

.landing-scale {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 24px;
}

.fill-button:hover {
    opacity:0.5;
}

.landing-desc{
    margin-bottom: 20px;
}

.landing .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .button-group .fill-button:first-child {
    margin-right: 8px;
}

.description {
    background-color:rgba(228, 244, 236, 0.971);
    padding: 80px 15px;
}


.description-header {
    font-size: 22px;
    line-height:1.3636363636;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}

.description-prg {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01;
} 

.description .col-12:first-child {
    margin-bottom:40px;
}

/*Program*/



.program {
    text-align: left;
    padding: 80px 0px;
}

.program strong:first-child {
    display:block;
    color:#fffeff;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.section-header {
    font-size: 34px;
    line-height: 1.0588235294;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}


.program .col-md-4 {
    margin-bottom: 20px;
}

.program .col-md-4:last-child {
    margin-bottom: 0;
}

.program-card {
    display:block;
    padding: 24px 0 32px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
     0px 4px 6px rgba(0, 0, 0, 0.05),
     inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
 }
 
.program-card img{
    display:block;
    height: 195px;
    width: auto;
    margin:0 auto 16px;
    
   }

.program-card strong {
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
}

/* curriculum */

.curriculum{
    padding: 80px 0;
}

.curriculum .row:first-child {
    margin-bottom: 48px;
}

.curriculum-title {
    display:block;
    color:#01d127;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.curriculum .section-desc{
    margin-bottom:32px;
}

.curriculum-image {
    display:none;
}

.curriculum-desc {
    font-size:15px;
    line-height: 1.4666666667;
    letter-spacing: 0.01em;
}

.curriculum .row:last-child .col-12:first-child .curriculum-desc{
    margin-bottom: 40px;
}

/* subscribe */

.subscribe{
    text-align: center;
    background-color: #F2F8FA;
    padding: 40px 0;
}

.sub-image{ 
    padding : 25px 49px;
    margin-bottom: 16px;
}

.sub-image img {
    width:auto;
    height: 190px;
    display:block;
}

.subs-title {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
}

.subscribe p {
    margin-bottom: 24px;
}


.sub-input-group div{
    margin-bottom: 8px;
}

.sub-input-group input {
    border: none;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    margin-bottom: 8px;
}

.sub-input-group .fill-button {
    width: 100%;
}

.sub-input-group p {
    color:#7B7B7E;
    font-size: 13px;
    line-height: 1.5384615385em;
}

.sub-input-group a {
    color: #222c49;
    text-decoration: underline;
}


/* footer */

.footer {
    padding: 24px 0;
}

.footer-list {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: -0.01em;
    color: #807F81;
}

.footer-list:last-child {
    margin-bottom: 0px;
}







 /* width > 768px (Desktop) */
 @media screen and (min-width: 768px) {
     p {
         font-size: 22px;
         line-height: 1.36363636;
     }

     /* landing */
     .landing-title{
         font-size: 70px;
         line-height: 1.0285714286;
         margin-bottom: 32px;
     }
     
     .landing-desc {
         margin-bottom: 32px;
     }
     .fill-button {
         width: 160px;
         height: 56px;
         font-size:18px;
         line-height: 1.555555555;
     }

     .landing .button-group .fill-button:first-child {
        margin-right: 16px;
    }
     .landing-scale {
         height:auto;
         padding: 120px 0px;
     }

    
     /* description */

     .description-header {
         font-size :26px;
         line-height:1.3076923077;
         margin-bottom: 16px;
     }
     
     .description-prg {
         font-size: 22px;
         line-height: 1.4545454545;
     }
     .description .col-12:first-child {
        margin-bottom:0;
    }

    /* Section */

    .program {
        text-align: center;
    }

    .program strong:first-child {
        font-size: 22px;
    }

    .section-header {
        font-size: 55px;
    }

    .section-desc {
        font-size:22px;
        line-height: 1.4545454545;
    }


    /* program-card */

    .program-card {
        transition: background-color 300ms ease-in-out;
    }

    .program-card:hover {
        background-color: #67d472;
    }

    .prgram-card strong {
        font-size:20px;
        transition: color 300ms ease-in-out;
        
    }

    .program-card:hover strong {
        color:white;
    }

    /* Curriculum */

    .curriculum-title {
        font-size: 22px;
    }

    .curriculum-desc {
        font-size: 18px;
        line-height: 1.4444444444;
    }

    .curriculum .section-desc{
        margin-bottom: 72px
    }

    .curriculum-image {
        display:block;
        width: 450px;
        height: 450px;
    }

    .curriculum-image img {
        width: 100%;
        height: auto;
    }

    .curriculum .row:last-child .col-12:first-child .curriculum-desc{
        margin-bottom: 0;
    }


    /* subscribe */

    .sub-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 370px;
        height: 300px;
        padding: 0;
    }

    .sub-image img {
        margin-bottom: 0;
        width: 287px;
        height: 285px;
    }

    .subscribe {
        text-align: left;
    }

    .sub-title {
        font-size: 40px;
    }

    .sub-input-group div {
        display: flex;
        align-items: center;  
        margin-bottom: 4px; 
    }
    
    .sub-input-group input {
        height: 56px;
        margin-bottom: 0;
        margin-right: 8px;
    }

    .sub-input-group .fill-button {
        width: 160px;
        flex-shrink: 0;
    }


    /* footer */

    .footer {
        padding: 16px 0;
    }

    .footer-lists {
        display:flex;
        align-items: center;
    }

    .footer-list {
        margin-bottom: 0;
        margin-right: 16px;
    }

    .footer-list:last-child {
        margin-right: 0;
    }
    
 }

 



/* Custom Grid System - container max width limited */
@media screen and (min-width: 1200px) {
    .container{
        max-width: 960px !important;
    }
}



